In [10]:
sc

In [11]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *

sqlContext = SQLContext(sc)

In [12]:
sqlContext

In [15]:
df = sqlContext.read.load("gs://kueppers/order_items.csv",
                         format="com.databricks.spark.csv",
                         header="true",
                         inferSchema="true")

In [23]:
df.columns

['order_item_id',
 'order_id',
 'product_id',
 'quantity',
 'subtotal',
 'product_price']

In [29]:
df.filter(df.quantity > 100).count()

135745

In [35]:
df.groupBy("product_id").avg("quantity").toPandas()

   product_id  avg(quantity)
0           1     203.947037
1           3     166.691617
2           5     277.391074
3           4     221.694597
4           2     110.589542

In [41]:
df.registerTempTable( "order_items" )

In [42]:
query = "Select product_id, sum(quantity), avg(quantity) from order_items group by product_id"
sqlContext.sql(query).toPandas()

   product_id  sum(quantity)  avg(quantity)
0           1   1.852104e+07     203.947037
1           3   3.392174e+06     166.691617
2           5   5.654617e+06     277.391074
3           4   4.508160e+06     221.694597
4           2   2.246627e+06     110.589542

In [19]:
df.toPandas()

        order_item_id  order_id  product_id  quantity  subtotal  product_price
0                   1         1           1    299.98    299.98            957
1                   2         2           1    199.99    199.99           1073
2                   3         2           5    250.00     50.00            502
3                   4         2           1    129.99    129.99            403
4                   5         4           2     49.98     24.99            897
5                   6         4           5    299.95     59.99            365
6                   7         4           3    150.00     50.00            502
7                   8         4           4    199.92     49.98           1014
8                   9         5           1    299.98    299.98            957
9                  10         5           5    299.95     59.99            365
10                 11         5           2     99.96     49.98           1014
11                 12         5           1    299.98    299.98            957
12                 13         5           1    129.99    129.99            403
13                 14         7           1    199.99    199.99           1073
14                 15         7           1    299.98    299.98            957
15                 16         7           5     79.95     15.99            926
16                 17         8           3    179.97     59.99            365
17                 18         8           5    299.95     59.99            365
18                 19         8           4    199.92     49.98           1014
19                 20         8           1     50.00     50.00            502
20                 21         9           2    199.98     99.99            191
21                 22         9           1    199.99    199.99           1073
22                 23         9           1    199.99    199.99           1073
23                 24        10           1    199.99    199.99           1073
24                 25        10           2     99.96     49.98           1014
25                 26        10           1    129.99    129.99            403
26                 27        10           1     21.99     21.99            917
27                 28        10           1    199.99    199.99           1073
28                 29        11           1     59.99     59.99            365
29                 30        11           4    159.96     39.99            627
...               ...       ...         ...       ...       ...            ...
172168         172169     68869           1     99.99     99.99            191
172169         172170     68869           1    999.99    999.99             60
172170         172171     68870           3    179.97     59.99            365
172171         172172     68870           5    299.95     59.99            365
172172         172173     68871           1    299.98    299.98            957
172173         172174     68871           4    200.00     50.00            502
172174         172175     68873           2    119.98     59.99            365
172175         172176     68873           1     59.99     59.99            365
172176         172177     68873           2    199.98     99.99            191
172177         172178     68873           2     79.98     39.99            627
172178         172179     68873           1    399.98    399.98           1004
172179         172180     68875           4    399.96     99.99            191
172180         172181     68875           1   1999.99   1999.99            208
172181         172182     68878           1    129.99    129.99            403
172182         172183     68878           3    179.97     59.99            365
172183         172184     68878           1    299.98    299.98            957
172184         172185     68878           1    129.99    129.99            403
172185         172186     68879           1    129.99    129.99            403
172186         172187     68879           1    129.99    129.99            403
172187         172188     68879           1    999.99    999.99             60
172188         172189     68880           3    149.94     49.98           1014
172189         172190     68880           5    250.00     50.00            502
172190         172191     68880           1    199.99    199.99           1073
172191         172192     68880           5    249.90     49.98           1014
172192         172193     68880           3    149.94     49.98           1014
172193         172194     68881           1    129.99    129.99            403
172194         172195     68882           1     59.99     59.99            365
172195         172196     68882           1     50.00     50.00            502
172196         172197     68883           1   1999.99   1999.99            208
172197         172198     68883           3    150.00     50.00            502

[172198 rows x 6 columns]

In [30]:
df.collect()

[Row(order_item_id=1, order_id=1, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=2, order_id=2, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=3, order_id=2, product_id=5, quantity=250.0, subtotal=50.0, product_price=502),
 Row(order_item_id=4, order_id=2, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=5, order_id=4, product_id=2, quantity=49.98, subtotal=24.99, product_price=897),
 Row(order_item_id=6, order_id=4, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=7, order_id=4, product_id=3, quantity=150.0, subtotal=50.0, product_price=502),
 Row(order_item_id=8, order_id=4, product_id=4, quantity=199.92, subtotal=49.98, product_price=1014),
 Row(order_item_id=9, order_id=5, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=10, order_id=5, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=11, order_id=5, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=12, order_id=5, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=13, order_id=5, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=14, order_id=7, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=15, order_id=7, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=16, order_id=7, product_id=5, quantity=79.95, subtotal=15.99, product_price=926),
 Row(order_item_id=17, order_id=8, product_id=3, quantity=179.97, subtotal=59.99, product_price=365),
 Row(order_item_id=18, order_id=8, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=19, order_id=8, product_id=4, quantity=199.92, subtotal=49.98, product_price=1014),
 Row(order_item_id=20, order_id=8, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=21, order_id=9, product_id=2, quantity=199.98, subtotal=99.99, product_price=191),
 Row(order_item_id=22, order_id=9, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=23, order_id=9, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=24, order_id=10, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=25, order_id=10, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=26, order_id=10, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=27, order_id=10, product_id=1, quantity=21.99, subtotal=21.99, product_price=917),
 Row(order_item_id=28, order_id=10, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=29, order_id=11, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=30, order_id=11, product_id=4, quantity=159.96, subtotal=39.99, product_price=627),
 Row(order_item_id=31, order_id=11, product_id=1, quantity=49.98, subtotal=49.98, product_price=1014),
 Row(order_item_id=32, order_id=11, product_id=4, quantity=399.96, subtotal=99.99, product_price=191),
 Row(order_item_id=33, order_id=11, product_id=5, quantity=249.9, subtotal=49.98, product_price=1014),
 Row(order_item_id=34, order_id=12, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=35, order_id=12, product_id=4, quantity=100.0, subtotal=25.0, product_price=134),
 Row(order_item_id=36, order_id=12, product_id=3, quantity=149.94, subtotal=49.98, product_price=1014),
 Row(order_item_id=37, order_id=12, product_id=5, quantity=499.95, subtotal=99.99, product_price=191),
 Row(order_item_id=38, order_id=12, product_id=5, quantity=250.0, subtotal=50.0, product_price=502),
 Row(order_item_id=39, order_id=13, product_id=4, quantity=127.96, subtotal=31.99, product_price=276),
 Row(order_item_id=40, order_id=14, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=41, order_id=14, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=42, order_id=14, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=43, order_id=15, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=44, order_id=15, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=45, order_id=15, product_id=3, quantity=95.97, subtotal=31.99, product_price=828),
 Row(order_item_id=46, order_id=15, product_id=3, quantity=179.97, subtotal=59.99, product_price=365),
 Row(order_item_id=47, order_id=15, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=48, order_id=16, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=49, order_id=16, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=50, order_id=17, product_id=4, quantity=79.96, subtotal=19.99, product_price=810),
 Row(order_item_id=51, order_id=17, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=52, order_id=17, product_id=3, quantity=74.97, subtotal=24.99, product_price=93),
 Row(order_item_id=53, order_id=17, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=54, order_id=17, product_id=4, quantity=239.96, subtotal=59.99, product_price=365),
 Row(order_item_id=55, order_id=18, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=56, order_id=18, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=57, order_id=18, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=58, order_id=19, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=59, order_id=19, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=60, order_id=20, product_id=5, quantity=250.0, subtotal=50.0, product_price=502),
 Row(order_item_id=61, order_id=20, product_id=4, quantity=199.92, subtotal=49.98, product_price=1014),
 Row(order_item_id=62, order_id=20, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=63, order_id=20, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=64, order_id=21, product_id=3, quantity=74.97, subtotal=24.99, product_price=897),
 Row(order_item_id=65, order_id=21, product_id=4, quantity=127.96, subtotal=31.99, product_price=276),
 Row(order_item_id=66, order_id=21, product_id=2, quantity=69.98, subtotal=34.99, product_price=37),
 Row(order_item_id=67, order_id=21, product_id=2, quantity=100.0, subtotal=50.0, product_price=502),
 Row(order_item_id=68, order_id=23, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=69, order_id=24, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=70, order_id=24, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=71, order_id=24, product_id=5, quantity=250.0, subtotal=50.0, product_price=502),
 Row(order_item_id=72, order_id=24, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=73, order_id=24, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=74, order_id=25, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=75, order_id=27, product_id=3, quantity=150.0, subtotal=50.0, product_price=502),
 Row(order_item_id=76, order_id=27, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=77, order_id=27, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=78, order_id=28, product_id=4, quantity=399.96, subtotal=99.99, product_price=191),
 Row(order_item_id=79, order_id=28, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=80, order_id=28, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=81, order_id=28, product_id=1, quantity=99.99, subtotal=99.99, product_price=191),
 Row(order_item_id=82, order_id=28, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=83, order_id=29, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=84, order_id=29, product_id=5, quantity=249.9, subtotal=49.98, product_price=1014),
 Row(order_item_id=85, order_id=29, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=86, order_id=29, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=87, order_id=29, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=88, order_id=30, product_id=2, quantity=100.0, subtotal=50.0, product_price=502),
 Row(order_item_id=89, order_id=31, product_id=5, quantity=499.95, subtotal=99.99, product_price=191),
 Row(order_item_id=90, order_id=33, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=91, order_id=33, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=92, order_id=33, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=93, order_id=33, product_id=4, quantity=199.92, subtotal=49.98, product_price=1014),
 Row(order_item_id=94, order_id=34, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=95, order_id=35, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=96, order_id=36, product_id=2, quantity=100.0, subtotal=50.0, product_price=502),
 Row(order_item_id=97, order_id=36, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=98, order_id=36, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=99, order_id=37, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=100, order_id=37, product_id=4, quantity=99.96, subtotal=24.99, product_price=906),
 Row(order_item_id=101, order_id=38, product_id=4, quantity=159.96, subtotal=39.99, product_price=627),
 Row(order_item_id=102, order_id=38, product_id=4, quantity=200.0, subtotal=50.0, product_price=502),
 Row(order_item_id=103, order_id=39, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=104, order_id=41, product_id=4, quantity=199.92, subtotal=49.98, product_price=1014),
 Row(order_item_id=105, order_id=41, product_id=4, quantity=127.96, subtotal=31.99, product_price=825),
 Row(order_item_id=106, order_id=42, product_id=1, quantity=39.99, subtotal=39.99, product_price=627),
 Row(order_item_id=107, order_id=42, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=108, order_id=42, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=109, order_id=43, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=110, order_id=43, product_id=1, quantity=99.99, subtotal=99.99, product_price=191),
 Row(order_item_id=111, order_id=43, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=112, order_id=44, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=113, order_id=45, product_id=5, quantity=199.95, subtotal=39.99, product_price=627),
 Row(order_item_id=114, order_id=45, product_id=4, quantity=159.96, subtotal=39.99, product_price=627),
 Row(order_item_id=115, order_id=45, product_id=5, quantity=79.95, subtotal=15.99, product_price=924),
 Row(order_item_id=116, order_id=45, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=117, order_id=46, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=118, order_id=46, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=119, order_id=48, product_id=1, quantity=49.98, subtotal=49.98, product_price=1014),
 Row(order_item_id=120, order_id=48, product_id=2, quantity=49.98, subtotal=24.99, product_price=886),
 Row(order_item_id=121, order_id=49, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=122, order_id=49, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=123, order_id=49, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=124, order_id=50, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=125, order_id=50, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=126, order_id=51, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=127, order_id=51, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=128, order_id=52, product_id=5, quantity=249.9, subtotal=49.98, product_price=1014),
 Row(order_item_id=129, order_id=52, product_id=3, quantity=149.94, subtotal=49.98, product_price=1014),
 Row(order_item_id=130, order_id=56, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=131, order_id=56, product_id=4, quantity=199.92, subtotal=49.98, product_price=1014),
 Row(order_item_id=132, order_id=56, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=133, order_id=57, product_id=3, quantity=179.97, subtotal=59.99, product_price=365),
 Row(order_item_id=134, order_id=57, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=135, order_id=57, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=136, order_id=57, product_id=4, quantity=207.96, subtotal=51.99, product_price=821),
 Row(order_item_id=137, order_id=58, product_id=2, quantity=19.98, subtotal=9.99, product_price=775),
 Row(order_item_id=138, order_id=58, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=139, order_id=58, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=140, order_id=58, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=141, order_id=58, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=142, order_id=59, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=143, order_id=59, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=144, order_id=59, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=145, order_id=59, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=146, order_id=61, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=147, order_id=61, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=148, order_id=61, product_id=4, quantity=399.96, subtotal=99.99, product_price=191),
 Row(order_item_id=149, order_id=62, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=150, order_id=62, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=151, order_id=62, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=152, order_id=62, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=153, order_id=63, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=154, order_id=63, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=155, order_id=63, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=156, order_id=64, product_id=3, quantity=150.0, subtotal=50.0, product_price=502),
 Row(order_item_id=157, order_id=64, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=158, order_id=64, product_id=1, quantity=59.99, subtotal=59.99, product_price=365),
 Row(order_item_id=159, order_id=64, product_id=2, quantity=199.98, subtotal=99.99, product_price=191),
 Row(order_item_id=160, order_id=64, product_id=4, quantity=200.0, subtotal=50.0, product_price=502),
 Row(order_item_id=161, order_id=65, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=162, order_id=66, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=163, order_id=66, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=164, order_id=66, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=165, order_id=66, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=166, order_id=67, product_id=3, quantity=150.0, subtotal=50.0, product_price=502),
 Row(order_item_id=167, order_id=68, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=168, order_id=69, product_id=4, quantity=239.96, subtotal=59.99, product_price=365),
 Row(order_item_id=169, order_id=70, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=170, order_id=70, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=171, order_id=70, product_id=1, quantity=299.98, subtotal=299.98, product_price=957),
 Row(order_item_id=172, order_id=71, product_id=5, quantity=499.95, subtotal=99.99, product_price=191),
 Row(order_item_id=173, order_id=71, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=174, order_id=71, product_id=1, quantity=39.99, subtotal=39.99, product_price=627),
 Row(order_item_id=175, order_id=72, product_id=2, quantity=79.98, subtotal=39.99, product_price=627),
 Row(order_item_id=176, order_id=72, product_id=1, quantity=199.99, subtotal=199.99, product_price=1073),
 Row(order_item_id=177, order_id=72, product_id=3, quantity=119.97, subtotal=39.99, product_price=572),
 Row(order_item_id=178, order_id=72, product_id=2, quantity=63.98, subtotal=31.99, product_price=835),
 Row(order_item_id=179, order_id=73, product_id=5, quantity=249.9, subtotal=49.98, product_price=1014),
 Row(order_item_id=180, order_id=73, product_id=5, quantity=249.9, subtotal=49.98, product_price=1014),
 Row(order_item_id=181, order_id=73, product_id=5, quantity=249.9, subtotal=49.98, product_price=1014),
 Row(order_item_id=182, order_id=73, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=183, order_id=73, product_id=4, quantity=399.96, subtotal=99.99, product_price=191),
 Row(order_item_id=184, order_id=74, product_id=2, quantity=119.98, subtotal=59.99, product_price=365),
 Row(order_item_id=185, order_id=75, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=186, order_id=75, product_id=1, quantity=50.0, subtotal=50.0, product_price=502),
 Row(order_item_id=187, order_id=75, product_id=4, quantity=200.0, subtotal=50.0, product_price=502),
 Row(order_item_id=188, order_id=75, product_id=1, quantity=399.98, subtotal=399.98, product_price=1004),
 Row(order_item_id=189, order_id=77, product_id=2, quantity=99.96, subtotal=49.98, product_price=1014),
 Row(order_item_id=190, order_id=77, product_id=5, quantity=299.95, subtotal=59.99, product_price=365),
 Row(order_item_id=191, order_id=77, product_id=1, quantity=99.99, subtotal=99.99, product_price=191),
 Row(order_item_id=192, order_id=77, product_id=1, quantity=129.99, subtotal=129.99, product_price=403),
 Row(order_item_id=193, order_id=77, product_id=2, quantity=100.0, subtotal=50.0, product_price=502),

In [18]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.6/site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in /opt/conda/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in /opt/conda/lib/python3.6/site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /opt/conda/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
pyspark 2.3.2 requires py4j==0.10.7, which is not installed.
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.